.gamesContainer {
  display: flex;
  flex-direction: row;
}
.grid {
  width: 70%;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filtersContainer {
  width: 50%;
}