nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-color: gray;
  border-width: thin;
}

nav div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

nav input.inputButton {
  width: auto;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
}
